
jsp_project/test5/WebContent/WEB-INF/web.xml
jsp_project/test5/WebContent/META-INF/MANIFEST.MF
jsp_project/test5/.settings/org.eclipse.wst.jsdt.ui.superType.name
jsp_project/test5/.settings/org.eclipse.wst.jsdt.ui.superType.container
jsp_project/test5/.settings/org.eclipse.wst.common.project.facet.core.xml
jsp_project/test5/.settings/org.eclipse.wst.common.component
jsp_project/test5/.settings/org.eclipse.jdt.core.prefs
jsp_project/test5/.settings/.jsdtscope
jsp_project/test5/.project
jsp_project/test5/.classpath
jsp_project/Servers/Tomcat v8.5 Server at localhost-config/web.xml
jsp_project/Servers/Tomcat v8.5 Server at localhost-config/tomcat-users.xml
jsp_project/Servers/Tomcat v8.5 Server at localhost-config/server.xml
jsp_project/Servers/Tomcat v8.5 Server at localhost-config/context.xml
jsp_project/Servers/Tomcat v8.5 Server at localhost-config/catalina.properties
jsp_project/Servers/Tomcat v8.5 Server at localhost-config/catalina.policy
jsp_project/Servers/.settings/org.eclipse.wst.server.core.prefs
jsp_project/Servers/.project
TeamProject/
